# API URLS
API_PUBLIC_URL=http://localhost:8081
API_BASE_URL=http://esa-api-nginx
API_URL=http://esa-api-nginx/api

# APP CONFIG
APP_NAME=PetCertify
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8080

APP_LOCALE=en
APP_FALLBACK_LOCALE=en

LOG_CHANNEL=stack
LOG_LEVEL=debug

# NULL DATABASE (WEB frontend does not connect to DB)
DB_CONNECTION=null
DB_HOST=null
DB_DATABASE=null
DB_USERNAME=null
DB_PASSWORD=null

# CACHE, SESSIONS & QUEUES (Handled by Redis)
SESSION_DRIVER=redis
SESSION_LIFETIME=120
QUEUE_CONNECTION=redis
CACHE_STORE=redis

# REDIS (Connects to Docker service 'redis')
REDIS_CLIENT=phpredis
REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379

# MAIL (Connects to Docker service 'mailpit')
MAIL_MAILER=smtp
MAIL_HOST=mailpit
MAIL_PORT=1025
MAIL_FROM_ADDRESS="no-reply@example.com"
MAIL_FROM_NAME="${APP_NAME}"

# AWS (Optional for S3 uploads)
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

# VITE
VITE_APP_NAME="${APP_NAME}"